body {
	font-size: 13px;
	line-height: 24px;
	color: black;
	font-weight: normal;
	font-family: "PT Sans", "Arial", sans-serif;
	padding: 0px;
	margin: 0px;
}

p {
	margin: 0px;
	padding-top: 0px;
}

body {
	background: #ffffff url("technomart-index-Recovered.jpg") no-repeat 50% 0px;
	background-size: 1200px auto;
}


h1 {
	font-size: 36px;
	line-height: 30px;
	color: #32425c;
	font-weight: normal;
	font-family: "Cuprum", "Arial", sans-serif;
	margin: 0px;
	padding: 0px;
}

h2 {
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	font-weight: normal;
	font-family: "Cuprum", "Arial", sans-serif;
	text-transform: uppercase;
	padding: 0px;
	margin: 0px;
}

h3 {
	font-size: 14px;
	line-height: 18px;
	color: black; /* !white */
	font-weight: bold;
	font-family: "PT Sans", "Arial", sans-serif;
	padding: 0px;
	margin: 0px;
}

ul {
	margin: 0;
	padding: 0;
}

ul li{
	display: inline;
}

ul.business li {
	display: block;
}

.name {
	font-size: 24px;
	line-height: 24px;
	color: white;
	font-weight: normal;
	font-family: "Cuprum", "Arial", sans-serif;
	padding-top: 11px;
	margin: 0px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


.main-header {
	background-color: green;
	opacity: 0.7;
	min-height: 320px;
}

.container {
	background-color: lightgray;
	opacity: 0.8;
	width: 940px;
	margin: 0 auto;
}


.logo-box {
	background-color: yellow;
	opacity: 0.8;
	
	min-height: 42px;
	width: 220px;
	float: left;
	margin-right: 10px;
}

.search {
	background-color: yellow;
	opacity: 0.8;
	min-height: 42px;
	width: 240px;
	float: left;
}

.profile {
	background-color: yellow;
	opacity: 0.8;
	min-height: 42px;
	width: 460px;
	float: right;
}

.middle-info {
	background-color: orange;
	opacity: 0.8;
	width: 310px;
	float: left;
	min-height: 158px;
	margin-right: 10px;
}

.middle-info:last-child {
	width: 300px;
	margin-right: 0px;
}

.navigation-header {
	background-color: yellow;
	opacity: 0.8; 
	min-height: 60px;
	width: 940px;
	margin: 0 auto;
}

.articles {
	background-color: lightblue;
	margin-top: 58px;
	min-height: 408px;
	margin-bottom: 53px;
}

.item {
	background-color: yellow;
	opacity: 0.8;
	min-height: 123px;
	width: 300px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.item:nth-child(3),
.item:nth-child(6),
.item:nth-child(5){
  margin-right: 0;
}

.item:last-child {
	margin-bottom: 0px;
}

.big-item {
	width: calc(300px * 2 + 20px);
	height: calc(123px * 2 + 20px);
	background-color: lightyellow;
	float: left;
	margin-right: 20px;
}

.popular-items {
	background-color: lightgreen;
	opacity: 0.8;
	min-height: 426px;
	margin-bottom: 18px; 
}

.popular {	
	background-color: blue;
	opacity: 0.8;
	min-height: 89px;
	width: 630px;
	float: left;
	margin-bottom: 22px;
}

.all-popular {
	background-color: blue;
	opacity: 0.8;
	min-height: 89px;
	width: 300px;
	float: right;
	margin-bottom: 22px;
}

.perforator-catalog {
	background-color: orange;
	opacity: 0.8;
	min-height: 317px;
	width: 220px;
	float: left;
	margin-right: 20px;
}

.perforator-catalog:last-child {
	margin-right: 0px;
}

.popular-producers {
	background-color: lightgreen;
	opacity: 0.6;
/*	min-height: 415px;*/
	margin-bottom: 85px;
}

.producers {
	background-color: blue;
	opacity: 0.8;
	min-height: 89px;
	width: 630px;
	margin-bottom: 22px;
	float: left;
}

.all-producers {
	background-color: blue;
	opacity: 0.8;
	min-height: 89px;
	width: 300px;
	margin-bottom: 22px;
	float: right;
}

.images {
	background-color: blue;
	opacity: 0.8;
	min-height: 145px;
	width: 220px;
	float: left;
	margin-right: 20px;
}

.images:nth-child(4n) {
	margin-right: 0;
}

.images:nth-child(1),
.images:nth-child(2),
.images:nth-child(3),
.images:nth-child(4) {
	margin-bottom: 20px;
}

.main-services {
	background-color: lightgreen;
	opacity: 0.8;
	min-height: 521px;
	margin-bottom: 82px;
}

.services-description {
	background-color: blue;
	opacity: 0.8;
	min-height: 189px;
}

.services-list {
	background-color: red;
	opacity: 0.8;
	min-height: 260px;
}

.list {
	background-color: yellow;
	opacity: 0.8;
	min-height: 260px;
	width: 240px;
	float: left;
	margin-right: 10px;
}

.informations {
	background-color: gray;
	opacity: 0.8;
	min-height: 369px;
	margin-bottom: 86px;
}

.technomart {
	background-color: yellow;
	opacity: 0.8;
	min-height: 369px;
	width: 610px;
	float: left;
}

.contacts {
	background-color: orange;
	opacity: 0.8;
	float: right;
	min-height: 369px;
	width: 320px;
}

.footer-top {
	background-color: blue;
	opacity: 0.8;
	min-height: 193px;
}

.logo-footer {
	background-color: yellow;
	opacity: 0.8;
	min-height: 63px;
	width: 220px;
	float: left;
	margin-bottom: 15px;
}

.navigation-footer {
	background-color: yellow;
	opacity: 0.8;
	width: 560px;
	float: right;
	min-height: 63px;
	margin-bottom: 15px;
}

.adress {
	background-color: yellow;
	opacity: 0.8;
	float: left;
	min-height: 84px;
	margin-bottom: 31px;
	width: 390px;
}

.navigation-footer-down {
	background-color: yellow;
	opacity: 0.8;
	float: right;
	min-height: 84px;
	width: 540px;
}

.footer-bottom {
	background-color: orange;
	opacity: 0.8;
	min-height: 106px;
}

.footer-copyright {
	background-color: orange;
	opacity: 0.8;
	min-height: 106px;
	width: 380px;
	float: left;
	margin-right: 10px;
}

.footer-social {
	background-color: orange;
	opacity: 0.8;
	min-height: 106px;
	width: 240px;
	float: left;
	margin-right: 10px;
}

.footer-mail {
	background-color: orange;
	opacity: 0.8;
	min-height: 106px;
	width: 150px;
	float: left;
	margin-right: 10px;
}

.footer-producer {
	background-color: orange;
	opacity: 0.8;
	min-height: 106px;
	width: 140px;
	float: right;
}

.main-top {
	margin-bottom: 60px;
}

.breadcrumps {
	background-color: yellow;
	opacity: 0.8;
	min-height: 59px;
}

.page-title {
	background-color: red;
	opacity: 0.8;
	min-height: 89px;
	margin-bottom: 20px;
}

.filters-column {
	background-color: yellow;
	opacity: 0.8;
	min-height: 746px;
	width: 220px;
	float: left;
}

.filter-price {
	background-color: blue;
	opacity: 0.8;
	min-height: 246px;
	margin-bottom: 25px;
	width: 220px;
}

.filter-type {
	background-color: blue;
	opacity: 0.8;
	min-height: 475px;
	width: 220px;
}

.results {
	background-color: yellow;
	opacity: 0.8;
	width: 700px;
	float: right;
}
.sort-choice {
	background-color: blue;
	opacity: 0.8;
	min-height: 38px;
}

.sort-title {
	background-color: yellow;
	opacity: 0.8;
	min-height: 38px;
	width: 230px;
	float: left;
}

.sort-for {
	background-color: yellow;
	opacity: 0.8;
	min-height: 38px;
	width: 460px;
	float: right;
	margin-bottom: 20px;
}

.articles-catalog {
	background-color: yellow;
	opacity: 0.8;
	min-height: 994px;
}

.perforators-catalog {
	background-color: orange;
	opacity: 0.8;
	min-height: 318px;
	width: 220px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.perforators-catalog:nth-child(3n) {
	margin-right: 0px;
}

.perforators-catalog:nth-child(1) {
	margin-top: 20px;
}

.pages {
	margin-top: 32px;
	background-color: orange;
	opacity: 0.8;
	min-height: 38px;
}

.main-bottom {
	background-color: yellow;
	opacity: 0.8;
}

.description-perforators {
	background-color: orange;
	opacity: 0.8;
	min-height: 261px;
}

.description-full {
	background-color: blue;
	opacity: 0.8;
	min-height: 261px;
}


label {
	display: block;
}


















